html {
  font-family: "Press Start 2P", cursive;
}

header {
  background-color: #91afff;
  color: #fff;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: #4f25b6;
}

.proposition {
  color: #fff;
  font-size: .75em;
  width: 90%;
  padding-left: 1em;
}

li {
  display: inline-block;
}

.blue {
  background-color: #91afff;
}

.desk-price-table {
  display: none;
}

.mob-price-table {
  display: block;
}

footer {
  background-color: #91afff;
  color: #fff;
}

.table-hidden {
  display: none;
}

@media only screen and (min-width: 38em) {

  .proposition {
    font-size: 1.25em;
    width: 53%;
  }

  .desk-price-table {
    display: block;
  }

  .mob-price-table {
    display: none;
  }
}
